
html {
  --color-text: rgb(255, 255, 255);
  --color-text-muted: rgb(110, 118, 125);
  --color-alpha: rgb(224, 36, 94);
  --color-alpha-muted: rgba(224, 36, 94, .2);
  --color-background: rgb(0, 0, 0);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);

  line-height: 1.7em;
}

a {
  color: var(--color-alpha);
  display: block;
  white-space: nowrap;
  width: 300px; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-feed {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin:0 auto;
}

.tweet {
  width: 100%;
  padding: 1em;
}

.retweeted-by {
  display: block;
  color: var(--color-text-muted);
  font-size: .8em;
}

.text-content {
  margin-top: 0;
}

.image {
  width: 100%;
  border-radius: 1em;
  max-height: 500px;
  object-fit: cover;
}

.action-tray {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.action {
  padding: .5em 1em;
  display: flex;
  border-radius: 1em;
}


.action .icon {
  background-color: var(--color-text-muted);
  display: inline-block;
  flex: 1;
  width: 25px;
}

.action .action-text {
  margin-left: .7em;
  color: var(--color-text-muted);
}

.action:hover {
  cursor: pointer;
  background-color: var(--color-alpha-muted);
}

.action:hover .icon {
  background-color: var(--color-alpha);
}

.action:hover .action-text {
  color: var(--color-alpha);
}

.reply {
  mask: url(icons/reply.svg) no-repeat center;
  -webkit-mask: url(icons/reply.svg) no-repeat center;
}

.retweet {
  mask: url(icons/retweet.svg) no-repeat center;
  -webkit-mask: url(icons/retweet.svg) no-repeat center;
}

.like {
  mask: url(icons/like.svg) no-repeat center;
  -webkit-mask: url(icons/like.svg) no-repeat center;
}

.share {
  mask: url(icons/share.svg) no-repeat center;
  -webkit-mask: url(icons/share.svg) no-repeat center;
}

.author-name {
  font-weight: bolder;
  font-size: 1.2em;
}

.author-handle::before {
  content: "@";
}

.author-handle, .posted-at {
  color: var(--color-text-muted);
}

.author-name, .author-handle, .posted-at {
  margin-right: .7em;
}
